:root {
    --cloudfive: rgb(20, 147, 221);
    --copyright: rgb(223, 223, 223);
    --cloudfive2: rgb(67, 20, 221);
    --cloudfive3: rgb(226, 229, 230);
    --cloudfive4: rgb(104, 169, 186);
    --cloudfive5: rgb(52, 124, 179);
  }